html{
    height: 100vh;
}
body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    padding: 0;
    height: 100vh;
}

.hidden {
    display: none;
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px red solid;
    height: 100%;
}

.story div{
    align-self: center;
    font-size: 40px;
    text-align: center;
}

.story.hidden{
    display: none;
}


.gameSection.hidden{
    display: none;
}

.gameSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 28px;
    align-items: center;
}

#rpsChoices {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rpsSelection{
    justify-content: center;
    flex-shrink: 1;
    max-width: 20%;
    height: auto;
    opacity: 90%;
}

.hvr:hover{
    scale: 2;
    opacity: 100%;
    
}

.clicked{
    scale: 1.5;
    z-index: -5;
    opacity: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

#msg{
    font-size: 18px;
    font-weight: 600;
}


#roundButton{
    padding: 12px;
    border-radius: 50%;
    opacity: 50%;
    font-size: 14px;
}

#scoreBoard{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center; 
}

#scoreBoardHeader{
    font-weight: 900;
    font-size: 32px;
    align-self: stretch;
    text-align: center;
    text-shadow: 2px 2px black;
}


#points {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.pointsSection{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.pointsHeader{
    font-weight: 900;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.score{
    font-size: 50px;
}

#finish{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 34px;
height: 100%;
}

#finish p{
    font-size: 20px;
}

#finish button{
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-variant-caps: all-petite-caps;
}