.hidden {
    display: none;
    color: blue;
}

.show {
    display: flex;
}


#game{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
    flex: 1;

}

#rpsChoices {
    display: flex;   
}

#scoreBoard{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#points {
    display: flex;
    gap: 32px;
}

.pointsSection{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

